<div class="container">

<h2 style="margin-left: -40px;">Change Password</h2>

<br><br>

<form [formGroup]="forgotPasswordForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [readonly]="disableEmail" [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls.email.errors }" />
        <div *ngIf="submitted && forgotPasswordForm.controls.email.errors" class="invalid-feedback">
            <div *ngIf="forgotPasswordForm.controls.email.errors.required">Email is required</div>
        </div>
    </div>

    <div *ngIf="hideSendTokenButton" class="form-group">
        <button [disabled]="loading" mat-stroked-button (click)="sendToken()">Send Token</button>
    </div>


    <div *ngIf="showInput" class="form-group">
        <label for="token">Token</label>
        <input type="text" formControlName="token" class="form-control" [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls.token.errors }" />
        <div *ngIf="submitted && forgotPasswordForm.controls.token.errors" class="invalid-feedback">
            <div *ngIf="forgotPasswordForm.controls.token.errors.required">Token is required</div>
        </div>
    </div>

   
    <div *ngIf="showInput" class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls.newPassword.errors }" />
        <div *ngIf="submitted && forgotPasswordForm.controls.newPassword.errors" class="invalid-feedback">
            <div *ngIf="forgotPasswordForm.controls.newPassword.errors.required">New Password is required</div>
        </div>
        
    </div>
    <div *ngIf="showInput" class="form-group">
        <label for="confirmedPassword">Confirm Password</label>
        <input type="password" formControlName="confirmedPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && (forgotPasswordForm.controls.confirmedPassword.errors || differentPasswords) }" />
        <div *ngIf="submitted && forgotPasswordForm.controls.confirmedPassword.errors" class="invalid-feedback">
            <div *ngIf="forgotPasswordForm.controls.confirmedPassword.errors.required">Confirmed Password id required</div>
        </div>
        <div *ngIf="submitted && differentPasswords" class="invalid-feedback">
            <div *ngIf="submitted && differentPasswords">Passwords must be the same</div>
        </div>
    </div>
    <div *ngIf="showInput" class="form-group">
        <button [disabled]="loading" mat-stroked-button (click)="onSubmit()">Change Password</button>
    </div>
</form>

</div>


